:root{
    --color-primary: #1f2937;
    --color-secondary: #e5e7eb;
    --color-button: #3882f6;
    --color-quote: #e5e7eb;
    --color-main-text: #f9faf8;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

/*typography*/

h1{
    margin: 0;
}

.header--logo{
    font-size: 24px;
    color: var(--color-main-text);
    margin-bottom: 0;
    font-weight: 700;
}

.hero--primary{
    color: var(--color-main-text);
    font-size: 48px;
    font-weight: 900;
}

.hero--secondary{
    color: var(--color-secondary);
    font-size: 18px;
}

.header--links{
    font-size: 18px;
}


/*hero*/
header{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
    padding-top: 0.5rem;
}

header, .header--logo, .header--links{
    padding-bottom: 5rem;
}

.header--left{
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.header--right{
    display: flex;
    flex-direction: column;
}

.header--links {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--color-secondary);
}

img {
    height: auto;
    max-width: 410px;
    align-self: flex-end;

}
.header--links, .header--logo{
    margin-top: 0.5rem;
}


/*Button*/
.btn{
    align-self: flex-start;
    background: var(--color-button);
    color: var(--color-main-text);
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
    border: none;
}